@model IEnumerable<CRUD1.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.setor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ddd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDaEquipe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.setor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ddd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoDaEquipe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nome }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nome }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nome })
        </td>
    </tr>
}

</table>
